# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pyo
*.pyd
*.pdb

# Environment
.env
.venv/
venv/
env/
ENV/
taskapp/

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac/Linux system files
.DS_Store
Thumbs.db

# SQLite database
*.sqlite3
*.db
instance/

# Logs
*.log
